.container
   background-color: #333
   width: 1000px
   margin: 0 auto
<<<<<<< HEAD
   display: grid
   grid-template-columns: 150px 150px 150px
   grid-template-rows: 150px 150px

=======
.item
>>>>>>> d547398608d6562ff8b4e02e5237875913423083

.item-1
   background-color: red
.item-2
   background-color: pink
.item-3
   background-color: blue
.item-4
   background-color: brown
.item-5
   background-color: orange
.item-6
<<<<<<< HEAD
   background-color: green   
.item
   font-size: 22px
   color: #fff
   padding: 15px

=======
   background-color: green
>>>>>>> d547398608d6562ff8b4e02e5237875913423083
